.extra-small-text {
    font-size: 13px; /* O el tamaño que necesites */
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.coin-item {
    animation: fadeIn 0.5s ease-out;
}

.border-2 {
    border-width: 1px !important; /* Reduce el grosor del borde si es muy grueso */
}

.py-2, .px-3 {
    padding: 0.5rem !important; /* Reduce padding en tarjetas si ocupan mucho espacio */
}

@media (max-width: 1199px) {
    .col-lg-4 {
        flex: 0 0 50%;  /* Cada tarjeta ocupará el 50% del ancho */
        max-width: 50%; /* Para que no sobrepase el 50% */
    }
}
@media (max-width: 991px) {
    .col-lg-4 {
        flex: 0 0 100%;  /* Ocuparán todo el ancho */
        max-width: 100%;
    }
}
.card-item:hover{
    background-color: #e8e8e8;
}


.card {
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: height 0.3s ease, box-shadow 0.3s ease;
    z-index: 1;
    min-height: 100%;
}
.card:hover {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--azuloscuro);
    transform: scale(1.05);
    transition: transform 0.3s;
}

/* Ocultar el botón por defecto */
.view-more-btn {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    background-color: transparent;
    border: none;
    color: var(--azuloscuro); /* Color inicial */
    font-weight: bold;
}

/* Mostrar el botón cuando se hace hover en la tarjeta */
.card:hover .view-more-btn {
    opacity: 1;
    visibility: visible;
}

/* Cambiar color al pasar el ratón sobre el botón */
.view-more-btn:hover {
    color: var(--oro); /* Cambia al color oro */
}
.form-check-input:checked {
    background-color: #0d6efd; /* Azul de Bootstrap */
    border-color: #0d6efd;
}

.form-check-input:focus {
    border-color: #0d6efd;
    box-shadow: 0 0 0 0.25rem rgba(38, 143, 255, 0.5);
}





