.extra-small-text {
    font-size: 13px; /* O el tamaño que necesites */
}
.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.coin-item {
    animation: fadeIn 0.5s ease-out;
}

.card {
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: height 0.3s ease; /* Transición para la altura */
}

.view-more-btn {
    background-color: #C58120; /* Color dorado */
    color: white;
    border: none;
    padding: 10px 20px; /* Ajuste para que no ocupe todo el ancho */
    font-weight: bold;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s 0.3s;
    width: auto; /* Solo toma el ancho del contenido */
}

.card:hover {
    transform: scale(1.05);
    height: calc(100% + 60px); /* Incrementa la altura de la tarjeta cuando se hace hover */
}

.card:hover .view-more-btn {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0s 0s;
}






