.extra-small-text {
    font-size: 13px; /* O el tamaño que necesites */
}
.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.coin-item {
    animation: fadeIn 0.5s ease-out;
}
.card {
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: height 0.3s ease; /* Transición para la altura */
    z-index: 1; /* Valor por defecto para las tarjetas */
    min-height: 100%;
}

.view-more-btn {
    background-color: var(--azuloscuro); /* Color dorado */
    color: white;
    border: none;
    padding: 10px 20px; /* Ajuste para que no ocupe todo el ancho */
    font-weight: bold;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s 0.3s;
    width: auto; /* Solo toma el ancho del contenido */
    margin-bottom: 10px;

}

.card:hover {
    transform: scale(1.05);
    height: calc(100% + 30px); /* Incrementa la altura de la tarjeta cuando se hace hover */
    z-index: 2; /* Asegura que la tarjeta se muestre por encima de las demás */
}
.view-more-btn:hover {
    background-color: var(--oro); /* Color dorado en hover */
}

.card:hover .view-more-btn {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0s 0s;
    z-index: 3; /* Asegura que el botón esté encima de la tarjeta */
}
.border-2 {
    border-width: 1px !important; /* Reduce el grosor del borde si es muy grueso */
}

.py-2, .px-3 {
    padding: 0.5rem !important; /* Reduce padding en tarjetas si ocupan mucho espacio */
}




@media (max-width: 1199px) {
    .col-lg-4 {
        flex: 0 0 50%;  /* Cada tarjeta ocupará el 50% del ancho */
        max-width: 50%; /* Para que no sobrepase el 50% */
    }
}
@media (max-width: 991px) {
    .col-lg-4 {
        flex: 0 0 100%;  /* Ocuparán todo el ancho */
        max-width: 100%;
    }
}
.card-item:hover{
    background-color: #e8e8e8;
}