/*CSS PÁGINA INDEX */
.btn-sign{
    background-color: var(--azuloscuro);
    color: white;
    transition: all 0.3s ease;
}
.btn-sign:hover{
    background-color: var(--oro);
    color: var(--azuloscuro);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--azuloscuro);
}
.btn-outline-dark{
    color: var(--azuloscuro);
    border-color: var(--azuloscuro);
    transition: all 0.3s ease;
}
.btn-outline-dark:hover{
    background-color: var(--oro);
    color: var(--azuloscuro);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}
.btn-changeLogin{
    color: var(--azuloscuro);
    cursor: pointer;
}
.btn-changeLogin:hover{
    color: var(--oro);
}
.pepe{
    background-color: #061428;
    width: 100%;
    height: 50%;
}
.card:hover{
    transform: scale(1.05);
    transition: transform 0.3s;
}

table {
    font-size: 14px;
}

th {
    background-color: #f8f9fa;
}

.text-success {
    color: green;
}

.text-danger {
    color: red;
}

canvas {
    max-width: 50px;
}
.card:hover{
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--azuloscuro);
}
.card-item:hover{
    background-color: #e8e8e8;
}
#dropdownButton:hover + #dashboard-collapse,
#dashboard-collapse:hover {
    display: block !important;
}