:root {
    --azulclaro: #E0EBFB;
    --oro: #C58120;
    --azuloscuro: #061428;
}
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
body {
    background-color: var(--azulclaro);
    color: var(--azuloscuro);
    font-family: 'Roboto', sans-serif;
}
main {
    flex: 1;
}
header{
    background-color: white;
}
.nav{
    align-items: center;
}
.navbar{
    border-bottom: 1px solid var(--azuloscuro);
}
.search{
    border: 1px solid var(--azuloscuro);
    border-radius: 8px;
}
.nav-link {
    color: var(--azuloscuro) !important;
}
.nav-link:hover {
    color: var(--oro) !important;
}
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}
.wallet{
    gap: 10px;
    margin-right: 15px;
}
footer {
    background-color: var(--azuloscuro);
}
footer * {
    color: white !important;
}
footer a {
    text-decoration: none;
}
footer a:hover {
    color: var(--oro) !important;
}