
/* Títulos */
h1 span {
    color: var(--oro);
}

/* Botones */
.btn-azuloscuro {
    background-color: var(--azuloscuro);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 10px;
}

.btn-azuloscuro:hover {
    background-color: var(--oro);
    color: white;
}
.btn-oro {
    background-color: var(--oro);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 6px;
}

.btn-oro:hover {
    background-color: darkgoldenrod;
}


/* Estilos para la sección */


/* Icono con animación */
.wallet-icon i {
    animation: bounce 1.5s infinite alternate;
    color: var(--azuloscuro);
}

/* Animación de rebote */
@keyframes bounce {
    0% { transform: translateY(0); }
    100% { transform: translateY(-5px); }
}

/* Efecto hover */
#total-balance-section .card:hover {
    transform: scale(1.02);
}

/* Para reducir el espacio entre las secciones dentro de la tarjeta */
.small-token-card .card-body {
    padding: 0.75rem; /* Ajusta el padding para reducir el espacio entre los elementos */
}



/* Reduce el espacio entre la barra vertical y el contenido de la derecha */
.small-token-card .vr {
    margin:  1.5rem; /* Ajusta el espacio de la barra vertical */
}
.token-icon img{
    width: 60px;
    height: 60px;
}

.tip-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.tip-card i {
    transition: transform 0.3s ease;
}


.tip-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tip-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

